
{% extends "base.html" %}

{% block content %}

    <div class="page-header">
        <h2>Your files list</h2>
    </div>


    {% if files %}
        <div class="span8">
        <table class="table table-striped" style="table-layout: fixed" >
        <tbody>
        {% for f in files %}
            <tr>
                <td style="width: 80%"><a href="/uploads/{{ f }}" ><input type="button" value="{{ f }}" class="btn-link"/></a></td>
                <td><a href="files/delete/{{ f }}"><span class="btn-small btn-danger"><i class="icon-trash icon-white"></i> Delete</span></a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>

    {% else %}
    <h3>You don't have uploaded files.</h3>
    {% endif %}


{% endblock %}